%p Hi there,
%p Someone, hopefully you, has requested that we send you a link to change your password:
- url = edit_user_password_url(@user, :token => @user.token, :escape => false, :protocol => "https://")
%p= link_to url, url