%p Hi there,

%p Thanks for agreeing to take part in the beta testing of <a href="http://Tweasier.com/">Tweasier.com</a>. Before you can use all of our services you need to confirm your account properly by clicking on the following link:
- url = new_user_confirmation_url :user_id => @user, :token => @user.token, :encode => false, :protocol => "https://"
%p= link_to 'Confirm my email address', url

%p As I am sure you can imagine, we have been doing lots of testing and working hard to get rid of the bugs out of the application but there may be still a few hiding in there, so your feedback will be priceless in making it a better tool.

%p As you are part of the beta testing you also have five invites you can send out to your friends. The invitation section is available as soon as you log in on the top left of your screen, alternatively click <a href="https://tweasier.com/app/user/accounts/new">here</a> and choose send invitation.

%p We have filmed a short walk through video to show you all of its features you can see that here: <a href="http://vimeo.com/11965597">http://vimeo.com/11965597</a>, please feel free to show your support in any way you can - it will be much appreciated. Facebook page is here: <a href="http://www.facebook.com/tweasier">http://www.facebook.com/tweasier</a>.

%p Please feel free to have a play around with the application and see what you think of it.

%p In the meantime if you have any questions, just drop me an <a href="mailto:info@tweasier.com">email</a>.

%p We will look forward to hearing your thoughts.