#callout.wider_callout
  %h3 How can we help?
  %br
  %br
  = image_tag("global/bird-medium.png")
  %br
  %p We want to help you grow your twitter network and find interesting people to connect with. We will help save you time and effort, once you sign up with us, set your searches and that's it - you can sit back and just watch your account grow as you tweet. However, if like us you love tweeting, then we help you find better people to engage with and offer you more time to focus on doing what you do best. 
  = image_tag("front_end/satisfaction.png", :class => "button")
  %p We offer a satisfaction guarantee or your money back. So if you use our service and you are not happy with it, just us know why so we can improve that area and we will give you your money back.