#features
  .feature_large.analytics
    %h4 Analytics dashboard
    %p Our statistics section provides more than 30 different types of Twitter data. Track what people are saying about you or your products!
    %p Get insightful analytics on your account - watch your numbers, clicks and content interest increase!
    %p See which of your Tweasier searches are the most effective and refine them accordingly each time you log-in.
    %p Track the popularity of your links from your followers. See which of your friends and followers are the most influential within your own network.
    %p View your account statistics in a beautiful graphical format and then export all of that useful data into a spreadsheet.
  .feature_large.follow.no_margin
    %h4 Find friends and sort them
    %p Find the most interesting and influential people to follow based on keywords, happiness, location and much much more!
    %p Secure targeted friends for yours or even several Twitter accounts!
    %p Tweasier allows you to sort your friends and followers by more than 20 different sets of criteria including influence, popularity, activity levels and so much more.
    %p You now decide who is in and who is out.
  .feature_large.client
    %h4 Twitter client
    %p Our Twitter client is packed with useful features including our influence rating which is revealed directly in your Twitter stream. You can read messages from your friends, tweet, direct message, favourite, unfollow and even shorten your URLs - all from our dedicated on-site Twitter client. 
    %p Many more features coming soon!
  .feature_large.email.no_margin
    %h4 Email notifications
    %p Save time on Tweasier by receiving personalised email notifications informing you about your activity within the twittersphere and find out important information without even visiting our site.
  .feature_large.conversation
    %h4 Conversation tracking
    %p Track conversations between two people without the need for following them. Tweasier also saves you time by remembering those important conversations every time you log-in.
  .feature_large.more
    %h4 And more
    %p Tweasier is packed full of features which are designed to make life a whole lot easier including:
    %p Scheduled Tweets - Schedule your tweets easily with a click of a button and it will be held until the allocated time of publishing.
    %p Geo Location - Find people to follow based on location with our brand new GEO location feature. Also let people know where you are in the world by posting your location when you tweet. 
