#spotlight
  .inner
    .right
      %h2 Making Twitter Tweasier!
      %p A new Twitter application which has been designed to make life on Twitter even easier.

      %p
        = link_to content_tag(:span, "Take the tour"), features_path, :class => "tour"
        = link_to content_tag(:span, "Get an account"), (signed_in? ? app_user_path : sign_up_path), :class => "sign_up"
