%h3 About Tweasier.com

= shared "callout_one"

%h4 Warning - This is a spam free zone
%p Tweasier.com is a new twitter app which has been designed to make life on Twitter much easier. The team behind it are a number of technology enthusiasts (OK you can call us geeks) based in the UK that wanted to create a special app to help people build and maintain their twitter profiles.

%h4 Twitter is for relationships
%p The truth is Twitter can be fun and great for building relationships but for many it can be time consuming staying abreast of all of the latest tools and services available.
%p Many business owners simply don't have the time to search for new friends as they are busy running their businesses. This is where Tweasier.com can help them and you out. It is a tool which aims to do all the things you need to do on Twitter but in one place - nice and easily. Not only that, but you control what it does for you - you are always in complete control. This means you have more time to focus on developing your relationships.

%h4 Twitter analytics
%p If you want a daily analysis report, to show you where your tweets have gone, how many people clicked or shared your link and how many new followers you have gained - we can deliver it.

%h4 Twitter Business
%p We wanted to build a Twitter tool that would help businesses and individuals alike to increase their Twitter profiles and provide them with insightful information.
%p There are loads of good Twitter tools out there but the problem we have noticed is that so many others act like spam sites, sending nasty auto tweets to all of your followers without asking you. The Tweasier.com team will not do this.

%h4 The aim of Tweasier.com
%p Our aim is to build the finest Twitter tool on the planet. This is just phase one of our project, we plan to do loads of ongoing development, so you get the best functionality and we can grow with Twitter organically.

%h4 Twitter tips and advice
%p We have also created our team blog to help share all of the latest news, tips, tools and advice. If we find a Twitter app which looks useful, you can be sure we will let you know about it on the blog. However, we want Tweasier.com to be all about you and so we need your regular feedback and advice. If you think something could be done better, please tell us and we will look at improving it. Thanks for stopping by.
