%h3 Cancellation and Refunds Policy

%p Tweasier subscribers pay a monthly subscription fee of &pound;9.95 for members to maintain their subscription and have rights and access to all of our services.
%p All subscribers recognise that the credit card they have on file will continue to be billed &pound;9.95 for members every 1 month until and unless that subscriber cancels his\her subscription with Tweasier.
%p There is no long term commitment or timeframe in which a subscriber must continue to remain active by paying their monthly subscription fee. Subscribers may cancel their subscription at any time for any reason simply by logging into their Tweasier account and clicking on the User and Billing Info link where they are required to follow the Terminate Subscription link to cancel their subscription. No commissions can be earned by inactive subscribers.
%p Tweasier maintains a three day 100% refund policy. You must cancel your subscription within three days of upgrading to subscriber level to be eligible for a refund. After you have been a subscriber for three days, no refunds either partial or full are given.
%p The same three day policy applies to the monthly subscription payment. You can cancel your subscription within three days of the most recent charge and be eligible for a refund for that month's subscription fee only. After three days, no refunds either partial or full are given.
%p
  Refunds are only given if the three day eligibility requirement is met and if the refund is requested. To request a refund, you must send an email to
  = mail_to "refunds@tweasier.com", "refunds@tweasier.com", :encode => :javascript
  including your Twitter username.
