%h3 Welcome to Tweasier

= shared("plans_spotlight")

%h3 What is Tweasier?
%br.clear

%p Tweasier is a powerful Twitter app that helps you find, follow and manage Twitter users with relevant interests to you. We have many exciting features but we plan to add lots more during the coming months. Our aim is to give you more time in the day to do other things without missing out on the fantastic networking opportunities that Twitter has to offer.
%p Here is a list of some of the features that we currently provide:

= shared("features_spotlight")

%br.clear
%h3 Finding people to follow on Twitter has never been so simple
%br
%p Using Tweasier you can tap into the power of Twitter by creating searches which find relevant local users to you. Once you've followed your users, many of them will follow you back because they have an interest in what you will be tweeting - it's that simple. We help you to find and engage with the most relevant users.

= shared "callout_one"

%br
%h3 Twitter brand monitoring and targetting
%br
%p Tweasier lets you monitor Twitter for brand name mentions and auto-follow any users talking about your company. You can then engage with them directly.

%br
%h3 Easy to use
%br
%p Using Tweasier is extremely simple and the great thing about it is you are always in complete control. 

%br
%h3 Detailed Twitter reporting
%br
%p With Tweasier you can easily see how many users you have followed and unfollowed at anytime. You can watch your account grow and see which searches and terms are the best at finding the most interesting twitter users.
%p You can also see how many people clicked your links - so you can improve your content and click through rates.

%br
%h3 Twitter account managment
%br
%p Tweaiser helps you to manage several Twitter accounts and grow them properly.

%br
%h3 Satisfaction Guarantee
%br
%p We offer a satisfaction guarantee or your money back. So if you use our service and you are not happy with it within the first 30 days, simply let us know why and if its a reasonable reason we will give you your money back.

%br
%br
