= object_controls do
  %li= link_to "Add more than once search at once", new_app_user_account_search_batch_path(@account)
  %li.last= link_to "Add a new search", new_app_user_account_search_path(@account)
