%ul#statuses
	= render :partial => "app/statuses/status", :collection => association
	= render :partial => "app/shared/pagination", :locals => { :first => association.first, :last => association.last }