!!! Strict
!!! XML
%html
  %head
    %meta{"http-equiv" => "content-type", "content" =>"text/html;charset=UTF-8"}
    %title Tweasier
  %body
    %img{:src => "http://#{HOST}/images/mailer/logo.png", :alt => "Tweasier"}
    %hr
    = yield :layout
    %hr
    %p
      Best wishes,
      %br
      The Tweasier Team